@model IEnumerable<SportsFinder.Data.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<div>

    <a class="button is-info is-outlined" asp-area="" asp-controller="Events" asp-action="Create">
        + Create Event
    </a>

    <table class="table">
        <thead>
            <tr>
                <th><div></div></th>
                @*Icon column, leave it empty*@
                <th>Owner</th>
                <th>Event Date</th>
                <th>Title</th>
                <th>Location</th>
                <th>Skill Level</th>
                <th>Gender(Preferred)</th>
                <th>Players Needed</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>
                        Join
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>

                    <th><div></div></th>
                    <th>No Events found.</th>
                </tr>
            }
            else
            {
                @foreach (var x in Model)
                {

        <tr>

            <td>
                
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    <i class="@x.Sport.SportIcon"></i>
                </a>

                <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.Creator.DisplayName
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.EventDate
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.Title
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.Location
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.SkillLevel.SkillLevelName
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.Gender.GenderType
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@x.EventId">
                    @x.PlayersNeeded
                </a>
            </td>
            @if (User.Identity.IsAuthenticated )
            { 
        <td>
        
            <a class="button is-outlined is-success " asp-area="" asp-controller="Events" asp-action="Create" asp-route-id="@x.EventId">
                <i class="fas fa-check" style="color:green"></i>
            </a>
        </td>
                }

        </tr>

                }
            }

        </tbody>
    </table>
</div>