@model IEnumerable<SportsFinder.Data.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<div>

    <a class="button is-link is-outlined" asp-area="" asp-controller="Events" asp-action="Create" is-active-route>
        + Create Event
    </a>

    <table class="table">
        <thead>
            <tr>
                <th><div></div></th>@*Icon column, leave it empty*@
                <th>Creator</th>
                <th>Event Date</th>
                <th>Title</th>
                <th>Location</th>
                <th>Title</th>
                <th>Title</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>

                    <th><div></div></th>
                    <th>No Events found.</th>
                </tr>
            }
            else
            {
                @foreach (var x in Model)
                {

                        <tr onclick="location.href = 'EventDetails/'+@x.EventId" >

                            <td>
                                <i class="@x.Sport.SportIcon"></i>


                            <td>@x.Creator</td>
                            <td>@x.Creator</td>
                            <td>@x.Creator.DisplayName</td>
                            <td>@x.Creator.DisplayName</td>
                            <td>@x.Players.Count</td>
                            <td>@x.Description</td>
                        </tr>

                }
            }

        </tbody>
    </table>
</div>